@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-sans overflow-hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Add hide-scrollbar utility */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.gray.500');
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}

/* Neumorphic shadows */
.shadow-neumorphic {
  box-shadow:
    6px 6px 12px rgba(163, 177, 198, 0.6),
    -6px -6px 12px rgba(255, 255, 255, 0.8);
}

.shadow-neumorphic-pressed {
  box-shadow:
    4px 4px 8px rgba(163, 177, 198, 0.5),
    -4px -4px 8px rgba(255, 255, 255, 0.7);
}

.shadow-neumorphic-inset {
  box-shadow:
    inset 3px 3px 6px rgba(163, 177, 198, 0.6),
    inset -3px -3px 6px rgba(255, 255, 255, 0.5);
}

.shadow-inner-soft {
  box-shadow: inset 2px 2px 4px rgba(163, 177, 198, 0.4);
}

.paused {
  animation-play-state: paused !important;
}